//
// Section Como aplicar
//
// Markup: section-apply.html
// 
// .info-apply - Informacion de como aplicar
// 
// styleguide Components.section-apply

.info-apply {
  padding: 80px 0;
  color: $c-blue;
  width: 600px;
  margin: 0 auto;

  h1{
    font-size: 30px;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }

}

.title-apply {
  h2{
    color: $c-blue;
    padding: 75px 0;
    text-align: center;   
  }

}

.info-pre-apply {
  padding: 60px 0;
  width: 600px;
  margin: 0 auto;
  text-align: center;

  h2{
    color: $c-blue;
    font-size: 25px;
  }

  p{
    color: #7a7a7a;
    margin-top: 2%;
  }

}

.apply {
  margin-bottom: 20%;;
}

.pre-apply, .apply {
  display: flex;

  h2{ 
    color: #7a7a7a;
    font-size: 25px;
    margin-bottom: 30px;
  }

  p{
    padding: 10px 0 15px 0;
  }

  a{
    font: 700 16px $headings-font;
  }

}    
.number{
  float: left;
  position: relative;
  bottom: 40px;
  font-family: $headings-font;
  font-size: 33px;
  color: #7A7A7A;
}
.pre-apply-step, .apply-step {
  margin: 0 20px;
  padding: 60px 40px 60px 41px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 15px -5px #a19d9d;
  -moz-box-shadow: 0px 8px 15px -5px #a19d9d;
  box-shadow: 0px 8px 15px -5px #a19d9d;
}

.section-go-category {
  padding: 7% 0;
  display: flex;
  justify-content: space-between;

  h3 {
    color: #fff;
    font-size: 36px;
  }

  a {
    font: 20px $headings-font;
  }
  
}