//
// Section Como aplicar
//
// Markup: section-apply.html
// 
// .info-apply - Informacion de como aplicar
// 
// styleguide Components.section-apply

.info-apply {
  padding: 80px 0;
  color: $c-blue;
  width: 600px;
  margin: 0 auto;

  h1{
    font-size: 30px;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }

}

.title-apply {
  h2{
    color: $c-blue;
    padding: 75px 0;
    text-align: center;   
  }

}

.info-pre-apply {
  padding: 60px 0;
  text-align: center;
  h2{
    color: $c-blue;
  }

  p{
    color: #7a7a7a;
    margin-top: 20px;
    padding: 0 10px;
    @media screen and (min-width: $large) {
      width: 410px;
      display: block;
      margin: 0 auto;
    }
  }

}

.apply {
  margin-bottom: 20px;;
}

.pre-apply, .apply {
  padding: 0px 15px 0 15px;
  // display: flex;
  @media screen and (min-width: $large) {
    display: flex;
  }

  h2{ 
    color: #7a7a7a;
    font-size: 17px;
    margin-bottom: 10px;
    @media screen and (min-width: $small) {
      font-size: 22px;
    }
  }

  p{
    padding: 10px 0 15px 0;
    font-size: 15px;
  }

  a{
    font: 700 13px $headings-font;
    padding-left: 10px;
    @media screen and (min-width: $small) {
      font-size: 17px;
    }
  }

}    
.number{
  float: left;
  position: relative;
  right: 6px;
  bottom: 40px;
  font-family: $headings-font;
  font-size: 33px;
  color: #7A7A7A;
}
.pre-apply-step, .apply-step {
  margin-bottom: 60px;
  padding: 60px 40px 60px 41px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 15px -5px #a19d9d;
  -moz-box-shadow: 0px 8px 15px -5px #a19d9d;
  box-shadow: 0px 8px 15px -5px #a19d9d;
  @media screen and (min-width: $large) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.space {
  @media screen and (min-width: $large) {
    margin-right: 40px;
  }
}

.section-go-category {
  color: #fff;
  margin-top: 9%;
  padding: 20px;
  @media screen and (min-width: $large) {
    padding: 7% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: $large) {
    max-width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: $x-large) {
    max-width: 950px;
  }

  h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;;
    @media screen and (min-width: $large) {
      font-size: 30px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $large) {
      padding-right: 20px;
    }
  }

  a {
    font-size: 17px;
    padding: 10px 44px 10px 25px;
    font-weight: bold;
    white-space: nowrap;
    @media screen and (min-width: $medium) {
      font-size: 20px;
      padding: 13px 50px;
    }
  }
  
}