//
// Buttons
//
// Markup: buttons.html
//
// .button-blue   - Blue button
// .button-green  - Green button
// .button-border-blue - Border blue button
// .button-border-white - Border white button
// .button-white - White button
// .button-orange - Orange button
// 
// styleguide Components.buttons

.button {
  background-color: $c-lightgray;
  color: #000;
  display: inline-block;
  font-family: $headings-font;
  font-size: 1.4rem;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 4px;
}

.button-white {
  color: $c-green;
  border: solid 4px $c-green;
  background: url(../img/arrow-green-buttons.svg) no-repeat right 20px center #fff;

}

.button-orange {
  color: #fff;
  border: solid 4px $c-orange;
  background: url(../img/arrow-white-buttons.svg) no-repeat right 20px center $c-orange;
}

.button-blue {
  border: solid 4px $c-blue;
  color: #fff;
  background: url(../img/arrow-white-buttons.svg) no-repeat right 20px center $c-blue;
  &:hover {
    border: solid 4px $c-orange;
    color: #fff;
    background-color: $c-orange;
  }

}

.button-green {
  background-color: $c-green;
  border: solid 4px $c-green;
  color: #fff;
  
  &:hover {
    background-color: $c-orange;
    border: solid 4px $c-orange;
    color: #fff;
  }
}

.button-border-blue {
  background: transparent;
  border: solid 4px $c-blue;
  color: $c-blue;
  background: url(../img/arrow-blue-buttons.svg) no-repeat right 20px center;

  &:hover {
    border: solid 4px $c-orange;
    color: #fff;
    background: url(../img/arrow-white-buttons.svg) no-repeat right 20px center $c-orange;
  }
}

.button-border-white {
  background: url(../img/arrow-white-buttons.svg) no-repeat right 20px center transparent;
  border: solid 4px #fff;
  color: #fff;

  &:hover {
    background: url(../img/arrow-blue-buttons.svg) no-repeat right 20px center #fff;
    border: solid 4px #fff;
    color: $c-blue;
  }

}

