//
// Section Que es BAE
//
// Markup: section-BAE.html
// 
// .howIsBAE - Que es BAE
// 
// styleguide Components.section-BAE
.section-what-is-BAE {
  display: flex;
  padding: 40px 0;
  
  h1 {
    font: 700 30px $headings-font;
    color: $c-blue;
  }

  p {
    font: 17px $body-font;
    width: 84%;
    margin-top: 40px;
    line-height: 26px;
  }

}

