//
// Section Que es BAE
//
// Markup: section-BAE.html
// 
// .howIsBAE - Que es BAE
// 
// styleguide Components.section-BAE

.section-what-is-BAE {
  padding: 60px 10px 0 0;

  @media screen and (min-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $large) {
    flex-direction: row;     
    justify-content: space-around;
  }

  @media screen and (min-width: $x-large) { 
    flex-direction: row;
    justify-content: space-around;
  }
  
  h1 {
    color: $c-blue;
    font: 700 30px $headings-font;
  }

  p {
    font: 16px $body-font;
    margin-top: 25px;
    line-height: 26px;
  }
}

.col-txt {
  align-self: flex-start;
  margin: 0 0 35px 20px;
  // width: 590px;

  @media screen and (min-width: $medium) {
    width: 590px;
  }

  @media screen and (min-width: $large) {
    width: 590px;
  }

  @media screen and (min-width: $x-large) {
    width: 590px;
  }
}

.col-img {
  align-self: flex-start;
  img {
    margin-bottom: 50px;
    width: 100%;
  }
}

