<div class="team-info">
    <h3>Nuestro equipo Bandera Azul Ecológica</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
</div>
<div class="section-pattern section-pattern-olas">
    <div class="director">
        <div class="image-director">
            <img src="../../src/img/imageDomi.jpg" alt="">
        </div>
        <div class="director-content">
            <h4>lorem</h4>
            <p>Institución CFIA </p>
        </div>
    </div>
    <div class="team-images">
        <ul class="team-card">
            <li class="team-item">
                <div class="team-cards">
                    <img src="../../src/img/imageDomi.jpg">
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>

            <li class="team-item">
                <div class="team-cards">
                    <div>
                        <img src="../../src/img/imageDomi.jpg">
                    </div>
                    <div class="team-content">
                        <h4>Lorem Ipsum</h4>
                        <p>Coordinador<br>Construcción sostenible</p>
                        <p>Institución CFIA</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
