<div class="team-info">
    <h3>Nuestro equipo Bandera Azul Ecológica</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
</div>
<div class="team-images">
    <ul class="team-card">
        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                    hola
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>

        <li class="team-item">
            <div class="team-cards">
                <div>
                    <img src="../../src/img/imageDomi.jpg">
                </div>
                <div class="team-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Coordinador<br>Construcción sostenible</p>
                    <p>Institución CFIA</p>
                </div>
            </div>
        </li>
    </ul>
</div>
