.hero-header {
  display: inline-block;
  margin: 50px 0 50px 0;
  padding-left: 15px;
  width: 290px;

  @media screen and (min-width: $small) {
    margin: 50px 0 50px 20px;
    padding-left: 0px;
    width: 300px;
    }

  @media screen and (min-width: $medium) {
    margin:50px 0 50px 15px;
  }

  @media screen and (min-width: $large) {
    width: 455px;
    display: inline-block;
    flex-direction: column;
    margin: 50px 0 50px 10px;
    }

  @media screen and (min-width: $x-large) {
    margin: 50px 0 50px 15px;
    }

.title-allies {
  color: $c-blue;
  font-size: 19px;
  line-height: 35px;
  margin-bottom: 26px;

  @media screen and (min-width: $small) {
    font-size: 25px;
  }

  @media screen and (min-width: $large) {
    font-size: 30px;
    }
  }

  p {
    font-size: 15px;
    line-height: 26px;

  @media screen and (min-width: $large) {
    font-size: 16px;
    }
  }
}


.allies-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $medium) {
    margin: 50px;
  }
}

.allies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.our-allies {
  width: calc(100% * (1/2));
  margin-bottom: 50px;


  @media screen and (min-width: $medium) {
    width: calc(100% * (1/3));
  }

  @media screen and (min-width: $large) {
    width: calc(100% * (1/4));
  }

  @media screen and (min-width: $x-large) {
    width: calc(100% * (1/4));
  }
}