//
// Main Footer
//
// Markup: main-footer.html
// 
//
// styleguide Components.main-footer

.global-footer {
  background: $c-blue;
  color: #fff;
}

.content-footer {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  @media screen and (min-width: $large) {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

 
  p {
    color: #fff;
    font: 10px $body-font;
    text-align: center;
    order: 2;
    flex-wrap: wrap;
    margin: 0 auto;
    @media screen and (min-width: $large) {
      order: 0;
      font: 12px $body-font;
    }
    @media screen and (min-width: $x-large) {
      font-size: 16px;
    }
  }

  h6 {
    font: 12px $body-font;
    margin-bottom: 5px; 
    @media screen and (min-width: $x-large) {
      font: 16px $body-font;
      margin-right: 20px;   
    } 
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

}
.social-media-footer {
  margin-bottom: 36px;  
  @media screen and (min-width: $x-large) {
    display: inline-block;
    font-size: 16px;
  }    
  @media screen and (min-width: $x-large) {
    display: flex;
    flex-direction: row;
  }
}

.logo-footer {
  width: 50%;
  margin-bottom: 36px; 
  @media screen and (min-width: $large) {
      width: 30%;
    }
  @media screen and (min-width: $x-large) {
      width: 15%;
  }
}
