{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection() %}
	
	{% block content %}
		<div class="section-pattern section-pattern-lightgray">
			<div class="limiter">
				<div class="discover-category">
					<h1>{{ page.header.page_title }}</h1>
					{{ page.content }}
				</div>
			</div>
		</div>
	
		<div class="list-categories">
		</div>
		</div>
		<div class="wrapper-categories">
			<div class="limiter">
				<div id="listing">
					<ul class="holder">
						{% set sum = 1 %} 
						{% for child in collection %}
							<li data-type="{{child.header.commitee_type}}" data-id ="{{sum}}" class="card-categories">
				   	    {% include 'categories.html.twig' with {'category':page, 'page':child, 'truncate':true} %}
				   	    {% set sum = sum + 1 %}
				   		</li>
				  	{% endfor %}
				  </ul>
				</div>
			</div>
		</div>
	{% endblock %}

{% endembed %}
