.section-intro-categories {
  padding: 23px 0px 23px 0px;
  margin: 0 auto;
  margin-top: 90px;
  position: absolute;

  @media screen and (min-width: $medium) {
    padding: 30px 55px 30px 0;
    margin-top: 200px;
  }

  @media screen and (min-width: $large) {
    width: 800px;
    margin: 200px 0 0;
    padding: 55px;
    margin-top: 150px;
  }

  @media screen and (min-width: $x-large) {
    width: 1280px;
    margin: 200px 0 0;
    padding: 55px;
  }
}

.jump-categories-page {
  text-align: center;

  p {
    color: #fff;
    font-size: 15px;

    @media screen and (min-width: $medium) {
      font-size: 19px;
      margin: 0 auto;
      width: 500px;
    }

  }

  .button {
    padding: 10px 40px;
  }

  .button-border-white {
    font-weight: bold;
    font-size: 15px;
    @media screen and (min-width: $medium) {
      font-size: 17px;
    }
  }
}

.btn-categories {
  margin-top: 20px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $medium) {
    margin-top: 40px;
  }
}