.section-intro-categories-list {
	margin: 0 auto;
	margin-top: 17%;
    padding: 5%;
}

.category-list {
	margin-top: 50px;
}

.list-content {
	list-style: none;
	text-align: center;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

	li {
		width: 338px;
		margin-bottom: 30px;
	}

}

.underline {
	color: $c-gray;
	font-family: $headings-font;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0.5pt;
}

.btn-categories {
	margin-top:40px;
	text-align: center;
	width: 100%;
}