//
// Tabs
//
// Markup: tabs.html
// 
// .tabs - Tabs
// 
// styleguide Components.tabs

.container-tabs {
  background: $c-lightgray;
  @media screen and (min-width: $large) {
    border-bottom: 4px solid #FAC917;
  }
}

.tabs {
  .container-achieve-list {
    display: block;
    @media screen and (min-width: $large) {
      display: flex;
    }
  }

  .container-achieve-list li {
    width: 50%;
    cursor: pointer;
    display: inline-block !important;
    background: $c-lightgray;
    color: #768291;
    font-family: $headings-font;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;

    @media screen and (min-width: $small) {
      flex: 1;
      height: 50px;
      line-height: normal;
      padding-top: 13px;
      font-size: 14px;
    }
    &.active-tab {
      padding-bottom: 0;
      position: relative;
      background: $c-lightblue;
      color: #2F80ED;
      border-bottom: 4px solid $c-yellow;
      @media screen and (min-width: $large) {
        border-bottom: 0;
      }

      &::before {
        content: ' ';
        @media screen and (min-width: $large) {
          background: url('../img/star.svg') no-repeat center $c-lightblue;
          background-size: 30px;
          display: block;
          position: absolute;
          content: ' ';
          top: -35px;
          width: 100%;
          height: 40px; 
          padding-top: 10px;
        }
      }

      &::after {
        content: ' ';
        width: 100%;
        background-color: $c-lightblue;
        height: 10px;
        padding-top: 10px;
        display: none;
      }

    }

  }

  p{
    font: 500 18px $body-font;
    color: #4F4F4F;
    margin: 25px 25px;
    @media screen and (min-width: $medium) {
      font: 700 18px $body-font;
      margin: 15px;
      width: 250px;
    }
    @media screen and (min-width: $large) {
      width: 500px;
      margin: 100px 0 0 30px;
    }
  }

  h2 {
    font-size: 2.8rem;
    color: #0984e3;
    padding: 0 0 40px 0;
    text-align: center;
  }

}

.tabs-content {
  background:$c-lightblue;
  padding: 0 0 20px;
  img {
    width: 100%;
    height: 250px;
    @media screen and (min-width: $medium) {
      width: 300px;
    }
    @media screen and (min-width: $large) {
      width: 400px;
      height: 300px;
    } 
  }

}

.active-tab {
  display: block;
  padding: 0;
  @media screen and (min-width: $medium) {
    padding: 30px 0;
    display: flex !important;
  }
}
