//
// Tabs
//
// Markup: tabs.html
// 
// .tabs - Tabs
// 
// styleguide Components.tabs

article {
  padding: 30px;
  width: 100%;
  display: flex;
  max-width: 1280px;
}
// 
.container-tabs {
  background: $c-lightgray;
  border-bottom: 4px solid #FAC917;
  @media screen and (min-width: $medium) {
    display: flex;
  }
}

.tabs {
  ul {
    display: block;
    @media screen and (min-width: $medium) {
      display: flex;
    }
  }

  .container-achieve-list li {
    width: 50%;
    cursor: pointer;
    display: inline-block;
    background: $c-lightgray;
    color: #768291;
    font-family: $headings-font;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    @media screen and (min-width: $medium) {
      flex: 1;
      float: left;
      height: 50px;
      line-height: normal;
      padding-top: 13px;
    }
    &.active {
      padding-bottom: 0;
      position: relative;
      background: $c-lightblue;
      color: #2F80ED;
      border-bottom: 4px solid $c-yellow;
      @media screen and (min-width: $medium) {
        border-bottom: 0;
      }

      &::before {
        content: ' ';
        @media screen and (min-width: $medium) {
          background: url('../img/star.svg') no-repeat center $c-lightblue;
          background-size: 30px;
          display: block;
          position: absolute;
          content: ' ';
          top: -35px;
          width: 100%;
          height: 40px; 
          padding-top: 10px;
        }
      }

      &::after {
        content: ' ';
        width: 100%;
        background-color: $c-lightblue;
        height: 10px;
        padding-top: 10px;
        display: none;
      }

    }

  }

  p{
    font: 500 18px $body-font;
    color: #4F4F4F;
    margin: 25px 25px;
    @media screen and (min-width: $medium) {
      font: 700 18px $body-font;
      margin: 15px;
      width: 250px;
    }
  }

  h2 {
    font-size: 2.8rem;
    color:#0984e3;
    padding: 0 0 40px 0;
    text-align: center;
  }

}

.tabs-content {
  height: 500px !important;
  background:$c-lightblue;
  img {
    width: 100%;    
  }

}

article {
  display: block;
  padding: 0;
  width: 100%;
  @media screen and (min-width: $medium) {
    padding: 30px;
    display: flex;
    max-width: 1280px;
  }
}
