//
// Section Contacto
//
// Markup: section-contact.html
// 
// 
// 
// styleguide Components.section-contact

.contact_title {
  h1 {
    color: $c-blue;
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  
}
.image-contact {
  width: 249px;
  margin-left: 31px;
}
.information-contact {
  text-align: center;
  p{
    font-size: 18px;
    padding-bottom: 21px;
  }
}
.redirect-to-categories {
  color: #333;
  font: 16px $body-font;
  border-bottom: 2px solid #333;
}
.contact {
  // display: flex;
  // justify-content: space-between;
  padding: 95px 0 95px;
}

.contact-image {
  text-align: center;
  position: relative;
  top: 30px;
}

.social-media-contact {
  text-align: center;
  padding-top: 30px;
  // display: flex;

  p {
    color: #333;
    padding-bottom: 13px;
    font-size: 18px;
  }

  ul{
    // display: flex;
    list-style: none;
  }

  a{
    display: inline-block;
    padding-right: 25px;
  }
  
}