.all-info-winners {
  padding: 60px 30px;
  width: 100%;
  display: inline-block;
  @media screen and (min-width: $large) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  p {
    font-weight: 700;
  }
}

.intro-winners {

  h1 {
    color: $c-blue; 
    padding-bottom: 30px;
    font-size: 25px;
    @media screen and (min-width: $large) {
      font-size: 30px;
    }
    @media screen and (min-width: $x-large) {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $large) {
      font-size: 25px;
    }
    @media screen and (min-width: $x-large) {
      font-size: 25px;
    }
  }

    
}

.intro-winners-info {
  font-family: $body-font;
  @media screen and (min-width: $large) {
      margin-left: 300px;
  }
  @media screen and (min-width: $x-large) {
      margin-left: 300px;
      width: 500px;
  }
  
  a {
    padding: 8px 45px 8px 10px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    margin: 20px 0;
    @media screen and (min-width: 400px) {
      font-size: 17px;
      padding: 10px 44px 10px 25px;
    }
    @media screen and (min-width: $medium) {
      font-size: 17px;
      padding: 13px 50px;
    }
    @media screen and (min-width: $large) {
      margin-top: 100px;
      margin-bottom: -30px;
    }
  }

}

.header-winners-image {
  margin-top: 50px;
  width: 250px;
  @media screen and (min-width: $medium) {
      width: 350px;
  }
  @media screen and (min-width: $large) {
      position: absolute;
      margin-top: 60px;
  }
  @media screen and (min-width: $x-large) {
      position: absolute;
      width: 450px;
      margin-top: 50px;
  }
}

/*------Indicadores------*/

.indicadores-info{
  width: 300px;
  margin-left: 33px;
}





.section-indicators {
  margin-top: 205px;
  padding: 70px 0;
  width: 100%;
  background: url(../img/pattern-white.svg) $c-lightgray;
  font-weight: 700;
  background-size: cover;

  h1 {
    color: $c-blue; 
    padding-bottom: 30px;
  }

}

.indicators {
  margin: 0 auto;
  padding: 53px 0;
  @media screen and (min-width: $medium) {
    display: flex;
    justify-content: space-around;
  }
  ul {
    padding: 0;
  }
}

.square-indicadores{
  text-align: center;
}

.square-indicadores-list {
  font-size: 16px;
}

.square-indicadores-item {
  margin: 0 auto;
  background-color: $c-green;
  border: 8px solid #AEE8AD;     
  color: white;
  width: 190px;
  padding: 60px 0;
  margin-bottom: 80px;
  font: 700 42px $headings-font;

  @media screen and (min-width: $medium) {
    width: 200px;
    margin-left: 20px;
  }
  
}

.square-indicadores-label {
  position: relative;
  bottom: 60px;
  width: 143px;
  margin: 0 auto;
  font-size: 18px;
}

.know-how-to-apply-section {
  color: #fff;
  padding: 70px 0;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    color: #fff;
  }
}

.button {
  font-size: 17px;
  padding: 10px 44px 10px 25px;
  font-weight: bold;
  white-space: nowrap;
  @media screen and (min-width: $medium) {
    font-size: 20px;
    padding: 13px 50px;
  }
}
