.section-stories {
  background-color: $c-lightgray;
  padding-top: 10px;
}

.content-intro-stories {
  padding-bottom: 32px;
  @media screen and (min-width: $large) {
    display: flex;
    justify-content: space-around;
  }
}
.success-stories-image {
  width: 100%;
  @media screen and (min-width: $x-large) {
    width: 400px;
  }
}
.success-title {
  color: $c-orange;
}

.item-section-stories {

  h2 {
    color: $c-orange;
    text-align: center;
    margin-top: 30px;
    @media screen and (min-width: $large) {
      text-align: left;
    }
  }

}

.card-succes {
  background-color: #fff;
  border-top: 7px solid $c-orange;
  padding: 20px 17px;
  width: 90%;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: $large) {
    width: 300px;
  }
  @media screen and (min-width: $x-large) {
    width: 440px;
  }

  h3 {
    margin:20px 0;
    color: $c-blue;
  }

  p{
    margin-bottom: 30px;
  }
  a{
    font: 700 14px $headings-font;
    margin-bottom: 20px;
  }
  
}

.card-facebook-block {
  border-top: 7px solid $c-orange;
  background-color: #fff;
  text-align:center;
  padding: 20px 17px;
  width: 90%;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: $large) {
    width: 300px;
  }
  @media screen and (min-width: $x-large) {
    width: 440px;
  }
}



