<div class="limiter">
  <div class="allies-section"> 
    <div class="hero-header">
      <h2 class="title-allies">Representantes de la Comisión Nacional</h2>
      <p>El Programa Bandera Azul Ecológica es posible gracias al apoyo de estas instituciones.</p>
    </div>
    <div class="allies-list">
      {% for allies in header.allies %}
        <figure class="our-allies">
           <img src="{{(allies.allie_item|first).path}}" alt="">
        </figure>
      {% endfor %}
    </div>
  </div>
</div>  