.intro-bae {
  display: block;
  padding: 20px;
  text-align: center;

  @media screen and (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 80px 0;
  }

}

.intro-home-description {
  width: 100%;
  

  p { 
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $medium) {
      margin-top: 20px;
    }
  }

  h1 {
    color: $c-blue;
    font-size: 25px;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media screen and (min-width: $large) {
    width: 45%;
  }
  
}

.intro-home-buttons {
  display: inline-block;
  width: 100%;

  ul {
    list-style: none;
    padding: 0 10px;
  }

  li {
    margin-top: 10px;
    @media screen and (min-width: $medium) {
      margin-top: 23px;
    }
  }

  a {
    padding: 10px 20px;
    font: 700 14px $headings-font;
    display: block;

    @media screen and (min-width: $small) {
     font-size: 15px;
    }

    @media screen and (min-width: $medium) {
      font-size: 17px;
      padding: 20px;
    }
  }

  .button-border-blue, .button-orange {
    background-size: 10px;
    background-position: right 5px center;

    @media screen and (min-width: $small) {
      background-size: 15px;
    }

    @media screen and (min-width: $large) {
      background-position: right 15px center;
    }

  }

  @media screen and (min-width: $medium) {
    width: 50%;
  }

  @media screen and (min-width: $large) {
    width: 40%;
  }

}

.photo-intro-bae {
  display: none;

  @media screen and (min-width: $medium) {
    display: block;
    position: relative;
    margin-top: 50px;
    width: 300px;
  }

  @media screen and (min-width: $large) {
    width: 100%;
  }

  @media screen and (min-width: $x-large) {
    margin-top: 250px;
    width: 400px;
    position: absolute;
  }
}
