.intro-bae {
  display: flex;
  justify-content: space-between;
  padding: 8% 0;
}

.intro-home-description {
  display: flex;
  flex-direction: column;
  width: 45%;

  p { 
    margin-top: 2%;
  }

  h1 {
    color: $c-blue;
  }

}

.intro-home-buttons {
  display: inline-block;
  margin-right: 5.5%;
  width: 40%;

  ul {
    list-style: none;
  }

  li {
    margin-top: 23px;
  }

  a {
    display: block;
    padding: 20px;
  }

}

.photo-intro-bae {
  margin-top: 10%;
  width: 25%;
  position: absolute;
  
}