//
// Section Que pretende BAE
//
// Markup: goals.html
// 
// .goal-info  -  Section que pretende BAE
// .goal-image
// 
// styleguide Components.goals
.section-goal-container {
  padding: 90px 0;

  h2{
    color: $c-blue;
    text-align: center;
    width: 100%;
  }

  p{
    font: 17px $body-font;
    color: #333333;   
    margin: 13px 0 0 10px;
    line-height: 26px;
  }
}

.section-goal{
  margin: 46px 0;
  display: flex;
}