//
// Section Que pretende BAE
//
// Markup: goals.html
// 
// .goal-info  -  Section que pretende BAE
// .goal-image
// 
// styleguide Components.goals
.section-goal-container {
  margin: 20px; 
  padding: 60px 10px 60px 0;

  h2 {
    font-size: 2.8rem;
    color: $c-blue;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $medium) {
      width: 98%;
    }
    
  }

  p {
    color: #333333; 
    font: 16px $body-font;
    margin: 10px 15px 0 15px;
    line-height: 26px;
    text-align: justify;

    @media screen and (min-width: $small) {
      margin: 10px;
    }
  }
}

.section-goal {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $large) {
    display: flex;
    flex-direction: row;     
    justify-content: space-around;
  }

  @media screen and (min-width: $x-large) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.columm-paragraph {
  align-self: flex-start;

  @media screen and (min-width: $medium) {
    width: 550px;
  }

  @media screen and (min-width: $large) {
    width: 550px;
  }

  @media screen and (min-width: $x-large) {
    width: 550px;

  }
}

.columm-img {
  img {
    width: 100%;
  }
}

  


